input.GridEditors.h3 {
    display: block;
    overflow: hidden;
    border: none;
    background: #fff;
    outline: none;
    resize: none;
    color: #515054;
    width: 100%;
    font-size: 22px;
    padding: 5px 10px;
}
