<div ng-controller="my.grideditorcontroller.table" id="tablegrid-controller">
    <div class="GridEditors">
        <div class="btn-group">
            <button class="btn btn-default" ng-click="addRow(control.rows + 1)" type="button">Add row</button>
            <button class="btn btn-default" ng-click="addColl(control.colls + 1)" type="button">Add coll</button>
        </div>

        <table>
            <tr ng-repeat="r in range(0, control.rows)">
                <td ng-repeat="c in range(0, control.colls)">
                    <input type="text"
                           ng-change="updateCell(this, r * (control.colls + 1) + c)"
                           ng-model="control.cells[r * (control.colls + 1) + c]"
                           ng-right-click="toggleContextmenu(r * (control.colls + 1) + c)"
                           ng-click="toggleContextmenu(-1)" />

                    <div ng-show="contextMenu[r * (control.colls + 1) + c]">
                        <ul class="context-menu">
                            <li><a ng-click="removeColl(c)"><i class="icon icon-delete"></i> Remove coll</a></li>
                            <li><a ng-click="removeRow(r)"><i class="icon icon-delete"></i> Remove row</a></li>
                            <li class="separator"></li>
                            <li><a ng-click="addColl(c)"><i class="icon icon-add"></i> Add coll left</a></li>
                            <li><a ng-click="addColl(c + 1)"><i class="icon icon-add"></i> Add coll right</a></li>
                            <li><a ng-click="addRow(r)"><i class="icon icon-add"></i> Add row above</a></li>
                            <li><a ng-click="addRow(r + 1)"><i class="icon icon-add"></i> Add row below</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>